<div class="container">
    <div class="row">
        <div class="col-xl-3"></div>
        <mat-card class="col-xl-6 login">
            <mat-card-header class="mb-2">
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>Login</mat-card-title>
                <mat-card-subtitle>{{ APP_NAME }} Panel</mat-card-subtitle>
            </mat-card-header>
            <div>
                <div class="mb-3">
                    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
                        <mat-label>Phone</mat-label>
                        <input [(ngModel)]="email" matInput type="text">
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="password" matInput type="password" (keyup.enter)="login()">
                    </mat-form-field>
                </div>
                <mat-progress-bar *ngIf="isProcessing == true" class="mb-2" mode="indeterminate"></mat-progress-bar>

                <button (click)="login()" mat-raised-button color="primary" style="margin-right: 5px;" class="mb-4">Login</button>
                <button (click)="forgetPassword()" mat-button color="primary" class="mb-4">Forget Password?</button>
            </div>
        </mat-card>
        <div class="col-xl-3"></div>
    </div>
</div>